@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #c8d6e5;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Grille via flexbox */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

@media screen and (min-width: 993px) {
  .grid-item-1 {
    flex: 0 0 calc(8.33% - 20px);
    max-width: 8.33%;
  }
  .grid-item-2 {
    flex: 0 0 calc(16.66% - 20px);
    max-width: 16.66%;
  }
  .grid-item-3 {
    /* flex: 0 0 25%; */
    flex: 0 0 calc(25% - 20px);
    max-width: 25%;
  }
  .grid-item-4 {
    flex: 0 0 calc(33.33% - 20px);
    max-width: 33.33%;
  }
  .grid-item-5 {
    flex: 0 0 calc(41.66% - 20px);
    max-width: 41.66%;
  }
  .grid-item-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
  }
  .grid-item-7 {
    flex: 0 0 calc(58.33% - 20px);
    max-width: 58.33%;
  }
  .grid-item-8 {
    flex: 0 0 calc(66.66% - 20px);
    max-width: 66.66%;
  }
  .grid-item-9 {
    flex: 0 0 calc(75% - 20px);
    max-width: 75%;
  }
  .grid-item-10 {
    flex: 0 0 calc(83.33% - 20px);
    max-width: 83.33%;
  }
  .grid-item-11 {
    flex: 0 0 calc(91.66% - 20px);
    max-width: 91.66%;
  }
  .grid-item-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .grid-item-md-1 {
    flex: 0 0 calc(8.33% - 20px);
    max-width: 8.33%;
  }
  .grid-item-md-2 {
    flex: 0 0 calc(16.66% - 20px);
    max-width: 16.66%;
  }
  .grid-item-md-3 {
    flex: 0 0 calc(25% - 20px);
    max-width: 25%;
  }
  .grid-item-md-4 {
    flex: 0 0 calc(33.33% - 10px);
    max-width: 33.33%;
  }
  .grid-item-md-5 {
    flex: 0 0 calc(41.66% - 20px);
    max-width: 41.66%;
  }
  .grid-item-md-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
  }
  .grid-item-md-7 {
    flex: 0 0 calc(58.33% - 20px);
    max-width: 58.33%;
  }
  .grid-item-md-8 {
    flex: 0 0 calc(66.66% - 20px);
    max-width: 66.66%;
  }
  .grid-item-md-9 {
    flex: 0 0 calc(75% - 20px);
    max-width: 75%;
  }
  .grid-item-md-10 {
    flex: 0 0 calc(83.33% - 20px);
    max-width: 83.33%;
  }
  .grid-item-md-11 {
    flex: 0 0 calc(91.66% - 20px);
    max-width: 91.66%;
  }
  .grid-item-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .grid-item-s-1 {
    flex: 0 0 calc(8.33% - 20px);
    max-width: 8.33%;
  }
  .grid-item-s-2 {
    flex: 0 0 calc(16.66% - 20px);
    max-width: 16.66%;
  }
  .grid-item-s-3 {
    flex: 0 0 calc(25% - 20px);
    max-width: 25%;
  }
  .grid-item-s-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .grid-item-s-5 {
    flex: 0 0 calc(41.66% - 20px);
    max-width: 41.66%;
  }
  .grid-item-s-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
  }
  .grid-item-s-7 {
    flex: 0 0 calc(58.33% - 20px);
    max-width: 58.33%;
  }
  .grid-item-s-8 {
    flex: 0 0 calc(66.66% - 20px);
    max-width: 66.66%;
  }
  .grid-item-s-9 {
    flex: 0 0 calc(75% - 20px);
    max-width: 75%;
  }
  .grid-item-s-10 {
    flex: 0 0 calc(83.33% - 20px);
    max-width: 83.33%;
  }
  .grid-item-s-11 {
    flex: 0 0 calc(91.66% - 20px);
    max-width: 91.66%;
  }
  .grid-item-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* fontSize */
.fs64 {
  font-size: 64px;
}

.fs36 {
  font-size: 36px;
}

.fs24 {
  font-size: 24px;
}

.fs18 {
  font-size: 18px;
}

.fs16 {
  font-size: 16px;
}

.fs13 {
  font-size: 13px;
}

/* fontWeight */
.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

/* position */
.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.s-b {
  justify-content: space-between;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.dark-gray {
  color: var(--dark-gray);
}

/* margin*/
/* .mA{
    margin: auto;
} */
/*paddin / margin*/
.m0 {
  margin: 0;
}

.m1 {
  margin: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.p05 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.w100 {
  max-width: 100%;
}

header {
  background-color: #0a3287;
  padding: 30px;
}
header h1 {
  font-size: larger;
  color: whitesmoke;
  display: flex;
  align-items: center;
}
header nav ul li {
  font-size: large;
  padding: 0 20px 0;
  color: whitesmoke;
}
header nav ul li div i {
  margin: 0 10px 0;
}
header nav ul li div hr {
  width: 0px;
  opacity: 0;
  border: 2px solid orange;
  border-radius: 10px;
}
header nav ul li div:hover {
  color: orange;
  cursor: pointer;
}
header nav ul li div:hover hr {
  width: 100%;
  opacity: 100;
  transition: 500ms;
}
header nav ul li div.active {
  color: orange;
}
header nav ul li div.active hr {
  width: 100%;
  opacity: 100;
  transition: 500ms;
}
header nav ul li ul {
  display: none;
  min-width: 100px;
}
header nav ul li ul.active {
  display: block;
  position: absolute;
  background-color: orange;
  border-radius: 10px 0 10px 0;
  color: whitesmoke;
}
header nav ul li ul.active li {
  padding: 25px;
}
header nav ul li ul.active li:hover {
  color: orange;
  background-color: #0a3287;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
