* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #c8d6e5;
}
#app {
	padding: 25px;
}
ul {
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
}
