header {
	background-color: #0a3287;
	padding: 30px;
	h1 {
		font-size: larger;
		color: whitesmoke;
		display: flex;
		align-items: center;
	}
	ul {
		display: flex;
		width: 100%;
	}
	nav {
		ul {
			li {
				font-size: large;
				padding: 0 20px 0;
				color: whitesmoke;
				div {
					i {
						margin: 0 10px 0;
					}
					hr {
						width: 0px;
						opacity: 0;
						border: 2px solid orange;
						border-radius: 10px;
					}
					&:hover {
						color: orange;
						cursor: pointer;
						hr {
							width: 100%;
							opacity: 100;
							transition: 500ms;
						}
					}
					&.active {
						color: orange;
						hr {
							width: 100%;
							opacity: 100;
							transition: 500ms;
						}
					}
				}
				ul {
					display: none;
					min-width: 100px;
					&.active {
						display: block;
						position: absolute;
						background-color: orange;
						border-radius: 10px 0 10px 0;
						color: whitesmoke;
						li {
							padding: 25px;
							&:hover {
								color: orange;
								background-color: #0a3287;
								border-radius: 10px 0 10px 0;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
#sousNav {
	width: 100%;
	ul {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		li {
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover,
			&.active {
				background-color: #0a3287;
				color: white;
				cursor: pointer;
			}
		}
	}
}
